/AdminHomePage.class
/AdminSetupPage.class
/FirstPage.class
/InvitationPage.class
/PasswordEvaluationTestingAutomation.class
/PasswordEvaluator.class
/SetupAccountPage.class
/SetupLoginSelectionPage.class
/StartCSE360.class
/User.class
/UserHomePage.class
/UserLoginPage.class
/UserNameRecognizer.class
/UserNameRecognizerTestbed.class
/WelcomeLoginPage.class
/RoleSelectionPage.class
/StudentHomePage.class
/ReviewerHomePage.class
/InstructorHomePage.class
/StaffHomePage.class
/PasswordRecoveryPage.class
/RoleRecognizer.class
/removeUserPage.class
/EmailEvaluation.class
/NewRolePage.class
